URxvt.letterSpace: -1
! URxvt.internalBorder: 10
! URxvt.font: -lucy-tewi-medium-r-normal--11-90-100-100-c-60-iso10646-1
! URxvt.boldFont: -lucy-tewi-medium-r-normal--11-90-100-100-c-60-iso10646-1
URxvt.font: xft:IBM Plex Mono Medm:size=11:style=medium
URxvt.boldFont: xft:IBM Plex Mono Medm:size=11:style=bold
URxvt.scrollBar: false
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
! urxvt*depth: 32
! urxvt*background: rgba:0000/0000/0000/dddd
URxvt*cursorUnderline: true
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

xterm*saveLines: 2000
xterm*foreground: white
xterm*background: black
xterm*cursorColor: rgb:80/00/00

rofi.font: Iosevka 11
rofi.color-enabled: true
rofi.hide-scrollbar: true

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! special
*.foreground:   #ffffff
*.background:   #292c36
*.cursorColor:  #ffffff
! black
*.color0:       #292c36
*.color8:       #434650
! red
*.color1:       #dc3c3c
*.color9:       #ff7c7c
! green
*.color2:       #95c76f
*.color10:      #d5ffaf
! yellow
*.color3:       #d28e5d
*.color11:      #ffce9d
! blue
*.color4:       #8485ce
*.color12:      #c4c5ff
! magenta
*.color5:       #b73999
*.color13:      #f779d9
! cyan
*.color6:       #00aba5
*.color14:      #40ebe5
! white
*.color7:       #a9acb6
*.color15:      #ffffff
